name: publish_nuget
on:
  push:
    tags: [v*]

jobs:
  build_and_publish:
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v2
      - run: |
          $version = $env:GITHUB_REF.Replace("refs/tags/v", "")
          ./scripts/build_pywinrt_nuget.cmd "$version"
          nuget push "PyWinRT.$version.nupkg" -ApiKey "${{ secrets.NUGET_API_KEY }}"
