name: wheels
concurrency: wheels-${{ github.ref }}
on: 
  push:
      tags: [wheels/*]

jobs:
  bdist:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        py:
          - cp314
        arch:
          - win_amd64
          - win32
          - win_arm64
    steps:
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - uses: actions/checkout@v4
      - name: install nuget packages
        run: ./scripts/fetch-tools.ps1 -noCppWinRT -noWindowsSDK -noMicrosoftUiXaml -noTestWinRT
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-bdist.txt
      - name: Build bdist wheels
        run: python scripts/build-bdist.py --only ${{ matrix.py }}-${{ matrix.arch }}
      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: bdist_${{ matrix.py }}-${{ matrix.arch }}_${{ github.run_id }}
          path: wheelhouse/
  publish:
    needs: [bdist]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          path: dist
          pattern: "[bs]dist_*"
          merge-multiple: true
      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
